html, body, div, h1, h2, h3, p, b, i {
    /* border: 1px dashed black; */
}

html {
  height: 100%;
  overflow-y: hidden;
}

.panel {
    width: 100%;
    display: flex;
    position: relative;
}

.wrapped-panel {
    flex-wrap: wrap;
}

.vertical-panel {
    flex-direction: column;
}

.half-panel {
    width: 45%;
    flex-grow: 1;
}

.half-panel.vertical-panel {
  height: 100%;
  display: flex;
  max-height: 58vh;
}

.quarter-panel {
    min-height: 30vh;
    max-height: 31.5vh;
    display: flex;
}

@media (min-width: 482px) {
}

.panel-title {
  display: flex;
  font-family: mono;
  width: 100%;
  border-radius: 5px;
  border-style: none none solid none;
  background: linear-gradient(#4b5dbd00,#9a9aee4a);
  border-color: #7d9dff;
  color: #000097;
}

.panel-options {
  align-self: center;
}

.panel-title h2 {
  margin-left: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  flex-grow: 1;
}

.timelines {
    overflow-x: scroll;
    overflow-y: hidden;
    height: 100%;
    display: grid;
    min-height: 35vh;
    position: relative;
}

.timeline {
  display: flex;
  flex-direction: column;
}

.timeline-no-model span {
  text-align: center;
  position: absolute;
  left: calc(50% - 3em);
  border-radius: 5px;
  background-color: #f1f1fd;
  padding: 3em;
  top: calc(50% - 3em);
}

.timeline.timeline-contents.timeline-no-model {
  overflow-y: auto;
  max-height: unset;
}

.timeline-contents {
  max-height: 25vh;
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 28vh;
}

.timeline-header {
  width: 5em; min-width: 5em; max-width: 5em;

  overflow-x: scroll;
  margin-right: -4vw;
}

.timeline.timeline-top-row {
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    align-items: center;
    height: 80px;
    z-index: 0;
    position: relative;
}

.timeline-event {
  min-width: 0.25em;
  max-width: 0.25em;
  height: 25px;
  background-color: #2C3E50;
  position: relative;
  /* border-radius: 50%; */
  margin-left: calc(12.5px + 4vw);
}

.timeline-event::after {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  top: 50%;
  transform: translateY(-50%);
  background-color: #2C3E50;
  width: calc(12.5px + 4vw + 0.275em);
  height: 5px;
}

.timeline-event span {
  width: 1px;
  height: 1px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
}

.timeline-event span::before, .timeline-event span::after {
  visibility: visible;
  position: absolute;
  left: 50%;
}

.timeline-event span::after {
  content: attr(data-time);
  top: 18px;
  transform: translateX(-50%);
  font-size: 14px;
  color: black;
}

.timeline-row {
  display: flex;
  align-items: center;
  height: 40px;
  min-height: 40px;
  max-height: 40px;
}

.timeline-popup {
  position: absolute;
  top: 6px;
  z-index: 2;
  width: fit-content;
  width: 30px;
  height: 30px;
  right: -12px;
}

.timeline-popup:hover p {
  visibility: visible;
}

.timeline-popup p {
  visibility: hidden;
}

.timeline-popup p {
  visibility: hidden;
  background-color: #7d9dff3d;
  width: fit-content;
  border-radius: 10px;
  text-align: center;
  border: 1px solid #7d9dff;
  font-family: mono;
  white-space: nowrap;
  margin-top: 1.5em;
  padding: 0.25em;
}

.timeline-spacer {
  min-width: 0.125em;
  max-width: 0.125em;
  height: 100%;
  background-color: #CFD8E1;
  position: relative;
  margin-left: calc(12.5px + 4vw + 0.125em);
}


.timeline-spacer::before, .timeline-spacer::after {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  top: 50%;
  transform: translateY(-50%);
  background-color: #CFD8E1;
  width: calc(12.5px + 4vw + 0.25em);
  height: 2px;
}

.timeline-spacer span::after {
  content: attr(data-event);
  top: 18px;
  transform: translateX(-50%);
  font-size: 14px;
  color: black;
}

.timeline-event-start::after {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 30px;
  left: -5px;
  z-index: 1;
}
.timeline-yellow.timeline-event-start::after { background-color: #FDE74C; }

.timeline-green.timeline-event-start::after { background-color: #9BC53D; }

.timeline-orange.timeline-event-start::after { background-color: #FF8811; }

.timeline-blue.timeline-event-start::after { background-color: #0197F6; }

.timeline-red.timeline-event-start::after { background-color: #ED254E; }

.timeline-event-stop::before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 30px;
  left: -5px;
  z-index: 1;
}

.timeline-yellow.timeline-event-stop::before { background-color: #FDE74C; }

.timeline-green.timeline-event-stop::before { background-color: #9BC53D; }

.timeline-orange.timeline-event-stop::before { background-color: #FF8811; }

.timeline-blue.timeline-event-stop::before { background-color: #0197F6; }

.timeline-red.timeline-event-stop::before { background-color: #ED254E; }


.timeline-event-singleton::after {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 30px;
  left: -5px;
  z-index: 1;
}
.timeline-yellow.timeline-event-singleton::after { background-color: #FDE74C; }

.timeline-green.timeline-event-singleton::after { background-color: #9BC53D; }

.timeline-orange.timeline-event-singleton::after { background-color: #FF8811; }

.timeline-blue.timeline-event-singleton::after { background-color: #0197F6; }

.timeline-red.timeline-event-singleton::after { background-color: #ED254E; }


.timeline-yellow.timeline-event-start::before, .timeline-yellow.timeline-event-in-progress::after, .timeline-yellow.timeline-event-in-progress::before {
  background-color: #FDE74C;
  z-index: 1;
}

.timeline-green.timeline-event-start::before, .timeline-green.timeline-event-in-progress::after, .timeline-green.timeline-event-in-progress::before {
  background-color: #9BC53D;
  z-index: 1;
}

.timeline-orange.timeline-event-start::before, .timeline-orange.timeline-event-in-progress::after, .timeline-orange.timeline-event-in-progress::before {
  background-color: #FF8811;
  z-index: 1;
}

.timeline-blue.timeline-event-start::before, .timeline-blue.timeline-event-in-progress::after, .timeline-blue.timeline-event-in-progress::before {
  background-color: #0197F6;
  z-index: 1;
}

.timeline-red.timeline-event-start::before, .timeline-red.timeline-event-in-progress::after, .timeline-red.timeline-event-in-progress::before {
  background-color: #ED254E;
  z-index: 1;
}


.panel-contents {
  overflow-y: scroll;
  height: max-content;
}

.fixed-events-grid {
  display: grid;
  grid-template-columns: 5em 5em 1fr 2em;
  row-gap: 5px;
}

.preconditions-grid {
  display: grid;
  grid-template-columns: 5em 3em 1fr 2em;
  row-gap: 5px;
}

.property-grid {
  display: grid;
  grid-template-columns: 1fr 2em;
  row-gap: 5px;
  padding-bottom: 3em;
}

.panel-grid-header {
  padding: 5px;
  border-bottom: 2px solid #7d9dff;
}

.panel-grid-cell {
  padding: 5px;
  display: flex;
}

.panel-grid-cell input[type=number] {
  width: 100%;
}

.panel-grid-cell > button {
  border: none;
  background-color: transparent;
  align-self: center;
  padding: 5px;
}
.panel-grid-cell > button:hover {
  background-color: #cccccc4f;
}

.fixed-events-grid-cell-button {
  grid-column-start: 1;
  grid-column-end: 4;
  text-align: center;
}

.preconditions-grid-cell-button {
  grid-column-start: 1;
  grid-column-end: 5;
  text-align: center;
}

.property-grid-cell-button {
  grid-column-start: 1;
  grid-column-end: 3;
  text-align: center;
}


.panel-grid-cell-button > button {
  width: 100%;
  font-size: large;
  border: none;
  background-color: transparent;
}

.panel-grid-cell-button > button:hover {
  background-color: #cccccc4f;
}

.precondition-negated {
  border: 1px dashed blue;
  background-color: #d3dfea;
  border-radius: 5px;
  color: gray;
  font-family: mono;
}

.precondition-negated.precondition-negated-active {
  border: 1px solid blue;
  background-color: #e3f2ff;
  color: black;
}

.clause-value-input {
  border: none;
  display: flex;
}

.panel-grid-cell input {
  padding: 0px;
  align-content: center;
  display: flex;
}

.editable-clause-argument {
  border: 0.5px solid blue;
  border-radius: 5px;
  background-color: #bde0ff;
  padding: 3px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}
.editable-clause-argument input {
  border: none;
  text-align: center;
  background-color: #e3f2ff;
  padding-top: 2.5px;
  padding-bottom: 2.5px;
  border-radius: 5px;
}
.editable-clause-argument button {
  border: none;
  margin-left: 5px;
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
  font-size: large;
  background-color: #90acff;
}
.editable-clause-argument.editable-clause-head {
  padding-left: 0px;
  padding-right: 0px;
}
.editable-clause-argument.editable-clause-head input {
  padding-left: 0px;
  padding-right: 0px;
}

.editable-clause {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  border: 0.5px solid #7d9dff;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 2.5px;
  padding-right: 2.5px;
  border-radius: 5px;
}

/* autocomplete */

.autocomplete-box {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
}

.autocomplete-box div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

.editable-clause-input {
  position: relative;
}

.rule-delete-button {
  float: right;
  position: absolute;
  right: 5px;
  top: 5px;
}

.rule-box {
  position: relative;
  padding: 4px;
  border-radius: 5px;
  border: 2px solid #7d9dff;
  margin-bottom: 5px;
  margin-top: 5px;
}

.rule-head {
  display: flex;
  align-items: center;
  width: 100%;
  align-content: center;
}

.rule-head-text {
  text-align: left;
}

.rule-time-variable {
  font-family: mono;
  padding: 4px;
  border: 1px solid black;
  border-radius: 5px;
  font-size: large;
}

.rule-split-panel {
  display: flex;
  justify-content: space-between;
}

.rule-split-panel .rule-panel {
  width: 45%;
  flex-grow: 1;
}

.rule-head-text {
  font-family: mono;
  color: #000097;
  border-width: 2px;
}

.rule-panel-header {
  display: flex;
  font-family: mono;
  width: 100%;
  border-radius: 5px;
  /* border-style: none none solid none; */
  border-color: #7d9dff;
  color: #000097;
  border-width: 2px;
}

.rule-panel-header h2 {
  margin-top: 4px;
  margin-bottom: 4px;
  font-size: medium;
}

.rule-panel {
  display: flex;
  flex-direction: column;
}

.rule-panel-contents {
  height: max-content;
  overflow-y: scroll;
}

.rule-head-value {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rule-head-time.rule-time-variable {
  margin: 0 10px 0 10px;
}

.rule-box-button {
  display: flex;
  width: 100%;
}

.rule-box-button > button {
  flex-grow: 1;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  border: none;
  background-color: transparent;
}

.rule-box-button > button:hover {
  background-color: #cccccc4f;
}

.timeline-button-panel {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 99;
  display: flex;
  font-family: mono;
}
.timeline-button-panel button {
  margin-left: 5px;
  margin-right: 5px;
  font-family: mono;
}

.error-panel {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.error-notification {
  background-color: #ea6666;
  flex-grow: 1;
  display: flex;
  padding: 5px;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.error-notification button {
  border: none;
  border-radius: 5px;
  width: 25px;
  height: 25px;
  color: #620000;
  background-color: #ea8484;
  font-size: large;
  align-self: center;
}

.error-notification button:hover {
  background-color: #e87979;
}

.error-notification span {
  flex-grow: 1;
  align-self: center;
  color: white;
  font-family: mono;
  font-weight: bold;
}

.file-button input[type="file"] {
  display: none;
}
